services:
  postgres:
    image: postgres:15.8
    container_name: exam-postgres
    environment:
      POSTGRES_DB: examdb
      POSTGRES_USER: exam
      POSTGRES_PASSWORD: exam
    ports:
      - "5432:5432"
    volumes:
      - exam_pgdata:/var/lib/postgresql/data

  keycloak-postgres:
    image: postgres:15.8
    container_name: keycloak-postgres
    environment:
      POSTGRES_DB: keycloakdb
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2
    container_name: keycloak
    command: start-dev
    depends_on:
      keycloak-postgres:
        condition: service_healthy
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-postgres:5432/keycloakdb
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak

      KC_HOSTNAME: localhost
      KC_HTTP_ENABLED: "true"

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8080"

volumes:
  exam_pgdata:
  keycloak_pgdata:
