spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/examdb
    username: exam
    password: exam
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}

server:
  port: ${SERVER_PORT:8080}
