spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/examdb
    username: exam
    password: exam
    driver-class-name: org.postgresql.Driver

  flyway:
    locations: classpath:db/migration
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true


logging:
  level:
    org.flywaydb: DEBUG
