spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/examdb
    username: exam
    password: exam
    driver-class-name: org.postgresql.Driver

  flyway:
    locations: classpath:db/migration
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org.flywaydb: DEBUG
    org.springdoc: DEBUG
    io.swagger.v3: DEBUG

openai:
  api:
    key: ${OPENAI_API_KEY}
