spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create-drop

  flyway:
    enabled: false

openai:
  api:
    key: test-key

keycloak:
  admin:
    server-url: http://localhost:9999
    realm: test
    client-id: test
    client-secret: test
